<div class="bg-gray-800 rounded-lg shadow-lg p-6">
  <h3 class="text-xl font-semibold mb-2 text-indigo-200"><%= experiment.name %></h3>
  <p class="text-gray-400 mb-2">Status: <%= experiment.status&.capitalize || 'N/A' %></p>
  <div class="flex space-x-2">
    <%= link_to 'View Results', experiment_path(experiment), class: "btn btn-small btn-primary flex-1 text-center" %>
    <%= link_to 'Edit', edit_experiment_path(experiment), class: "btn btn-small btn-secondary flex-1 text-center" %>
  </div>
</div>