<div class="bg-gray-900 p-4 flex items-center justify-between border-b border-gray-800">
  <div>
    <% if selected_prompt.present? %>
      <span class="font-medium text-lg"><%= selected_prompt.name %></span>
      <span class="text-sm text-indigo-300 ml-2">v<%= selected_prompt.version %></span>
    <% else %>
      <span class="font-medium text-lg text-gray-400">No prompt selected</span>
    <% end %>
  </div>
</div>