<% content_for :title, 'Workbench' %>
<div class="flex h-[calc(100vh-4rem)] bg-gray-950 text-white">
  <!-- Left Sidebar -->
  <%= render 'prompt_sidebar', prompts: @prompts, selected_prompt: @selected_prompt %>
  <!-- Main Content -->
  <div class="flex-1 flex flex-col">
    <!-- Top Bar -->
    <%= render 'top_bar', selected_prompt: @selected_prompt %>
    <!-- Scrollable Content -->
    <div class="flex-1 flex overflow-hidden">
      <%= render 'prompt_content', selected_prompt: @selected_prompt %>
      <%= render 'results_section', evaluators: @evaluators, dataset_record: @dataset_record %>
    </div>
  </div>
</div>