<div class="bg-gray-800 rounded-lg shadow-lg p-6">
  <h2 class="text-xl font-semibold mb-2 text-indigo-300"><%= dataset.name %></h2>
  <p class="text-gray-400 mb-4"><%= dataset.description %></p>
  <div class="flex space-x-2">
    <%= link_to 'View', dataset_path(dataset), class: "btn btn-small btn-primary flex-1 text-center" %>
    <%= link_to 'Edit', edit_dataset_path(dataset), class: "btn btn-small btn-secondary flex-1 text-center" %>
  </div>
</div>